<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Haven</title>
</head>
<body>
    <form method="post" action="/newPet">
        <label>Pet name</label>
        <input type="text" name="name"><br/>

        <label>Pet age</label>
        <input type="number" name="age"><br/>

        <label>Pet breed</label>
        <input type="text" name="breed"><br/>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>