<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security</title>
</head>

<body>
    <h1>Registration page</h1>
    <form action="/register" method="POST">
        <label for="new-email">Email:</label>
        <input type="text" name="email" id="new-email" /><br />
        <label for="new-password">Create a Password:</label>
        <input type="password" name="password" id="new-password" /><br />
        <input type="submit" value="Register" />
    </form>
</body>

</html>