<html>
<head>
  <title>Logout</title>
</head>
<body>
  <%- include('_header') %>

  <h2>Logout</h2>

  <form action="/users/logout" method="POST">
    <input name="submit" type="submit" value="Logout" id="submit"/>
  </form>
</body>
</html>